@font-face {
  font-family: Vazir-Medium;
  src: url(../fonts/Vazir-Medium.eot) format("eot"),
    url(../fonts/Vazir-Medium.woff) format("woff"),
    url(../fonts/Vazir-Medium.woff2) format("woff2");
  font-weight: 700;
  font-style:normal;
}
* {
  font-family: Vazir-Medium;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: large;
}

 li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
} 
a {
  text-decoration: none;
}

.bg-white{
  background-color: white;
}




